/* 
	ba21 style - barebones flexbox framework 
	@paulgiacherio & @cambeers
*/
/* VARIABLES */
/* reference 
	1.6 2.6 4.1 6.6 10.5*/
/* default font size and lineheight */
/* webfonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* brand colors */
/* helpers */
.text-center {
  text-align: center;
}
img.text-center {
  margin-left: auto;
  margin-right: auto;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.flat-bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}
.alt {
  background: #f7f7f7;
}
.alt-dark {
  background: #26262b;
  color: white;
}
.alt-darker {
  background: #1f1f23;
  color: white;
}
.alt-bright {
  background: #DE14C4;
}
.shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width : 769px) {
  .hide-sm {
    display: none;
  }
}
.pad-bottom .grid {
  margin-bottom: 4.1rem;
}
/* tooltip*/
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #26262b;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #26262b;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* simplified responsive queries */
/* RESET */
/* 
	remove all defaults and ensure border-box
	add @lh margin to everything - an experiment 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* block these */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/* just in case */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/* body and html height and background*/
html,
body {
  min-height: 100vh;
  background: #FFFFFF;
  overflow-x: hidden;
}
/* make sure images are responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* TEXT */
/* body */
html,
body {
  color: #26262b;
  font-family: "Lato", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6;
}
/* links */
a {
  color: #DE14C4;
  -webkit-transition: all .25s;
  transition: all .25s;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
  color: #af109b;
}
/* paragraph */
p {
  margin: 0 0 1.6rem 0;
}
/* lists */
li {
  margin-bottom: 0;
}
/* add'l */
sup {
  font-size: .75em;
}
hr {
  border: 0;
  border-top: 1px solid #333333;
  height: 1px;
  background: transparent;
}
/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 2.6rem;
  line-height: 1.2em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: .6em;
}
h1 {
  font-size: 4.2rem;
  font-size: 3.5rem;
}
h2 {
  font-size: 3.5rem;
  font-size: 2.6rem;
}
h3 {
  font-size: 2.6rem;
  font-size: 2.1rem;
}
h4 {
  font-size: 2.1rem;
  font-size: 1.6rem;
}
h5 {
  font-size: 1.6rem;
  font-size: 1.3rem;
  color: #808080;
}
h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #DE14C4;
  letter-spacing: 1px;
}
/* GRID */
.row {
  padding: 0 1.6rem;
}
/* desktop only */
@media only screen and (min-width: 950px) {
  /* 
    rows 
    contain .grid items distributed horizontally
  */
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 0;
    max-width: 92.795rem;
    padding: 0 1.6rem;
  }
  .row-full-width {
    max-width: 100%;
    padding: 0;
    overflow: hidden;
  }
  .row-full-height {
    height: 100%;
  }
  .row-reverse {
    -webkit-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  /* 
    how grids are horizontally distributed within a row
    add classes to .row container
  */
  .row-left {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-right {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .row-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* 
    column 
    add class to .row container to distribute .grid items vertically
  */
  .column {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* 
    grid 
    .grid items are inside .row or .column containers
  */
  .grid {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 1.6rem;
  }
  .grid-full-width {
    padding: 0 0;
  }
  /* 
    grid-specific sizing 
    add these classes in addition to .grid containers to specify width
  */
  .grid-10 {
    -webkit-box-flex: 0 0 10%;
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
  }
  .grid-15 {
    -webkit-box-flex: 0 0 15%;
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
  }
  .grid-20 {
    -webkit-box-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }
  .grid-25 {
    -webkit-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  .grid-30 {
    -webkit-box-flex: 0 0 30%;
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }
  .grid-33 {
    -webkit-box-flex: 0 0 33.33%;
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
  }
  .grid-40 {
    -webkit-box-flex: 0 0 40%;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
  .grid-50 {
    -webkit-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .grid-60 {
    -webkit-box-flex: 0 0 60%;
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
  }
  .grid-75 {
    -webkit-box-flex: 0 0 75%;
    -moz-box-flex: 0 0 75%;
    sectio-webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  /* 
    how grids are vertically aligned within a row/column
    add classes to .grid container 
  */
  .grid-top {
    -webkit-align-self: flex-start;
    -ms-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .grid-bottom {
    -webkit-align-self: flex-end;
    -ms-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .grid-center {
    -webkit-align-self: center;
    -ms-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  /* 
    flex-grow - allow grid to fill remaining space
    add to .grid and surrounding .grids must have explicit width or height
  */
  .grid-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/* the actual nav and fixed background container */
nav {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #DE14C4;
  z-index: 1;
  /*	.nav-open &{
      transition:transform .2s .4s, opacity .1s .4s;
      transform:translateY(0);
      opacity:1;
      
    }
    
    .nav-close &{
      transition:transform .2s, opacity .1s;
      transform:translateY(50px);
      opacity:0;
      
    }*/
}
nav li {
  list-style-type: none;
}
nav .nav-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
nav .nav-row .tagline {
  margin-bottom: 2.6rem;
  color: white;
}
nav .nav-grid {
  width: 100%;
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.social-links {
  font-size: 1.6em;
}
.social-links li {
  display: inline;
  margin-right: .5em;
}
.social-links li a {
  color: #800c71;
}
.social-links li a:hover {
  color: #26262b;
}
.nav-open nav {
  -webkit-transition: -webkit-transform .1s .25s;
  transition: -webkit-transform .1s .25s;
  transition: transform .1s .25s ;
  transition: transform .1s .25s, -webkit-transform .1s .25s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.nav-close nav {
  -webkit-transition: -webkit-transform .1s .25s;
  transition: -webkit-transform .1s .25s;
  transition: transform .1s .25s ;
  transition: transform .1s .25s, -webkit-transform .1s .25s;
  -webkit-transform: scale(0);
          transform: scale(0);
}
/* nav styles */
.nav-list {
  font-size: 2.1em;
  display: inline-block;
  text-align: left;
}
.nav-list a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: .33rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-list a:hover {
  color: #26262b;
}
/* contains the toggle */
header {
  position: absolute;
  top: 1.6rem;
  width: 100%;
  z-index: 100;
  /*background:red;*/
}
header .row {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .row .grid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.nav-open header {
  position: fixed;
}
.nav-toggle {
  outline: 0;
  /*background:@violet;*/
  background: #26262b;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /*box-shadow:0px 2px 5px rgba(0,0,0,.3);*/
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  float: right;
  margin-right: -11px;
  z-index: 101;
}
@media only screen and (max-width : 769px) {
  .nav-toggle {
    background: #DE14C4;
  }
}
.nav-toggle:hover,
.nav-toggle:active,
.nav-toggle:focus {
  outline: 0;
}
.nav-toggle:hover {
  background: #eb21d1;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.nav-open .nav-toggle {
  background: #26262b;
}
.nav-toggle:before {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background: #DE14C4;
  display: block;
  content: '';
  z-index: -1;
  border-radius: inherit;
  /* grow overlay from behind button */
  /* shrink overlay */
}
.nav-open .nav-toggle:before {
  -webkit-transition: opacity .25s .4s,visibility .1s .65s,-webkit-transform .4s;
  transition: opacity .25s .4s,visibility .1s .65s,-webkit-transform .4s;
  transition: transform .4s,opacity .25s .4s,visibility .1s .65s;
  transition: transform .4s,opacity .25s .4s,visibility .1s .65s,-webkit-transform .4s;
  -webkit-transform: scale(150);
          transform: scale(150);
  opacity: 0;
  visibility: hidden;
}
.nav-close .nav-toggle:before {
  -webkit-transition: visibility .1s,opacity .25s 0s,-webkit-transform .4s .35s;
  transition: visibility .1s,opacity .25s 0s,-webkit-transform .4s .35s;
  transition: visibility .1s,opacity .25s 0s,transform .4s .35s;
  transition: visibility .1s,opacity .25s 0s,transform .4s .35s,-webkit-transform .4s .35s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
  visibility: visible;
}
/* nav toggle button and hamburger animation */
.nav-toggle .nav-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 18px;
  height: 3px;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 3px;
}
.nav-toggle .nav-icon::before,
.nav-toggle .nav-icon::after {
  /* buns of the hamburger */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: inherit;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  content: '';
}
.nav-toggle .nav-icon:before {
  -webkit-transform: translateY(-6px) rotate(0deg);
          transform: translateY(-6px) rotate(0deg);
}
.nav-toggle .nav-icon:after {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
/* fade out the hamburger */
.nav-open .nav-toggle .nav-icon {
  background-color: rgba(255, 255, 255, 0);
}
/* make the buns white */
.nav-open .nav-toggle .nav-icon:before,
.nav-toggle .nav-icon:after {
  background-color: white;
}
/* cross the buns  haha */
.nav-open .nav-toggle .nav-icon:before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}
.nav-open .nav-toggle .nav-icon:after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}
/* BUTTONS */
.button {
  display: inline-block;
  padding: .5rem 2.1rem;
  margin: 0 1.6rem;
  text-decoration: none;
  border-radius: 0.5rem;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
  background: #DE14C4;
  border: 2px solid #DE14C4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .875rem;
  white-space: nowrap;
}
.button:hover {
  background: #af109b;
  border-color: #af109b;
  color: white;
}
.button.hollow {
  border: 2px solid #DE14C4;
  background: transparent;
  color: #DE14C4;
}
.button.hollow:hover {
  background: #DE14C4;
  color: white;
}
.button.navy {
  background: #26262b;
  border: 2px solid #26262b;
}
.button.navy:hover {
  background: #0e0e10;
  border-color: #0e0e10;
  color: white;
}
.button.navy.hollow {
  border: 2px solid #26262b;
  background: transparent;
  color: #26262b;
}
.button.navy.hollow:hover {
  background: #26262b;
  color: white;
}
.button.white {
  background: white;
  border: 2px solid white;
}
.button.white:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
  color: white;
}
.button.white.hollow {
  border: 2px solid white;
  background: transparent;
  color: white;
}
.button.white.hollow:hover {
  background: white;
  color: white;
}
.button.black {
  background: #333333;
  border: 2px solid #333333;
}
.button.black:hover {
  background: #1a1a1a;
  border-color: #1a1a1a;
  color: white;
}
.button.black.hollow {
  border: 2px solid #333333;
  background: transparent;
  color: #333333;
}
.button.black.hollow:hover {
  background: #333333;
  color: white;
}
/* hollow mixin */
/* STRUCTURE */
.main-logo {
  height: 2.6rem;
  width: auto;
  margin-bottom: .5rem;
  height: 1.8rem;
  margin-bottom: 0;
  z-index: -1;
  -webkit-transition: all .3s .25s;
  transition: all .3s .25s;
  /*this gets around all the z-index problems*/
}
.nav-open .main-logo {
  opacity: 0;
}
.text-logo {
  color: white;
  text-decoration: none;
}
.footer .text-logo {
  color: #808080;
}
.text-logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1em;
}
.text-logo h1 sup {
  font-weight: 300;
  font-size: .5em;
  vertical-align: 50%;
}
.text-logo h1 small {
  font-weight: 300;
  color: #a6a6a6;
  /*padding-left:.25rem;*/
  display: inline-block;
  font-size: .5em;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.text-logo:hover {
  color: #a6a6a6;
}
.text-logo:hover small {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
.tagline {
  color: #808080;
  font-size: 1.1875rem;
  font-weight: 300;
}
.big {
  font-size: 10.5rem;
  color: white;
  font-weight: 700;
  text-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width : 769px) {
  .big {
    font-size: 12vw;
  }
}
@media only screen and (min-width: 950px) {
  .index-logo {
    -webkit-transform: translateY(-9rem);
            transform: translateY(-9rem);
  }
}
/* home page */
/* float 50% width logos on devices */
@media only screen and (max-width : 769px) {
  .logos {
    /* for some fucking reason
		overflow:hidden clears the floated imgs
		because floating things fucking sucks
		*/
    overflow: hidden;
  }
  .logos img {
    width: 50%;
    height: auto;
    float: left;
  }
}
/* sections */
section {
  padding: 4.2rem 0;
}
.section-full-height {
  height: 100vh;
}
.section-intro {
  background: #26262b url(../img/comp.jpg) no-repeat;
  background-position: center center;
  background-size: auto 75%;
}
@media only screen and (min-width: 950px) {
  .section-intro {
    background-position: center center;
    background-size: 90% auto;
  }
}
.section-intro .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.section-intro .row .grid {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.section-intro h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 2.1rem;
}
.section-intro h2 sup {
  font-weight: 700;
  color: #DE14C4;
}
/*portfolio single*/
.portfolio-single h5 {
  margin-top: 2.6em;
}
.portfolio-single .row + .row {
  border-top: 1px solid #e6e6e6;
  margin-top: 2.6rem;
  padding-top: 2.6rem;
}
/* portfolio page */
.portfolio-link {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 2.6rem 2.6rem 1px;
}
.portfolio-link h5 {
  margin-top: 1.6rem;
}
.portfolio-link:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.portfolio-link:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.portfolio-link:hover:after {
  background: rgba(0, 0, 0, 0.05);
}
/* page-header */
.page-header {
  background-color: #26262b;
  color: white;
  text-align: left;
}
.page-header p {
  color: #808080;
}
@media only screen and (max-width : 769px) {
  .page-header {
    height: auto;
  }
}
.page-title {
  margin: 4.1rem 0 .5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 4px;
  color: #e6e6e6;
}
@media only screen and (min-width: 950px) {
  .pull-img {
    max-width: 120%;
    min-width: 120%;
    height: auto;
    margin-left: -20%;
  }
}
@media only screen and (min-width: 950px) {
  .pull-img-right {
    max-width: 125%;
    height: auto;
    margin-right: -28%;
  }
}
/* cta */
.cta {
  background: #2d2d33;
  background-size: 25%;
  color: #a6a6a6;
  text-align: center;
  padding: 6.6rem 0;
}
.cta h4 {
  color: white;
  margin-bottom: 0;
}
@media only screen and (min-width: 950px) {
  .cta {
    text-align: inherit;
  }
  .cta * {
    margin-bottom: 0;
  }
}
form {
  /*display:inline-block; */
  background: white;
  padding: 2.6rem;
  margin: 0 auto 2.6rem;
  text-align: left;
  /*border:1px solid @gray-lighter;*/
}
@media only screen and (max-width : 769px) {
  form {
    padding: 1.6rem;
  }
}
form input[type=text],
form input[type=email],
form textarea {
  padding: 6px 0;
  width: 75%;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #DE14C4;
  box-shadow: none;
}
form textarea {
  width: 100%;
  height: 250px;
}
form label span {
  display: block;
  text-align: left;
  color: #a6a6a6;
  text-transform: uppercase;
  font-size: .75rem;
}
form .button {
  margin: 0;
}
form .button:focus {
  outline: none;
}
.mail-link {
  color: inherit;
  text-decoration: none;
}
.mail-link:hover {
  color: #DE14C4;
}
.footer {
  background: #26262b;
  color: #808080;
}
.footer p {
  margin-bottom: 0;
}
.footer .main-logo {
  height: 1.8rem;
  width: auto;
  display: inline-block;
  margin-bottom: 3.5rem;
}
.footer .main-logo img {
  display: block;
}
@media only screen and (min-width: 950px) {
  .footer .main-logo {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 950px) {
  .footer ul {
    text-align: right;
  }
}
.footer ul li {
  list-style-type: none;
}
@media only screen and (min-width: 950px) {
  .footer ul li {
    display: inline;
    margin-left: 2.6rem;
  }
}
.footer ul li a {
  color: #808080;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}
.footer ul li a:hover {
  color: #a6a6a6;
}
