{% if page.title != 'Contact' %}
    
    <section class="cta">
        <div class="row row-center">
            <div class="grid-40">
            <h4>Let's talk</h4>
                <p>See how BA <sup>21</sup> can help &mdash; no project is too big or&nbsp;small </p>
            </div>
            <div class="grid-20 grid-bottom text-center">
                <a href="contact.html" class="button">Contact Us</a>
            </div>
        </div>
    </section>

{% endif %}

<section class="footer">
    <div class="row">
        <div class="grid grid-25">
            <img src="./img/logo-mono-gray.svg" alt="ba21 web + media" class="main-logo" />
        </div>
        <div class="grid grid-bottom">
            <ul class="">
                <li><a href="/">Home</a></li>
                <li><a href="./portfolio.html">Portfolio</a></li>
                <li><a href="./services.html">Services</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</section>