        <header>
            <div class="row">
            <div class="grid grid-center">
                <a href="./" class="text-logo"><!-- <img src="./img/logo.svg" alt="ba21 web + media" class="main-logo" /> -->
                    <h1 class="">BA<sup>21</sup> <small>web + media</small></h1>
                </a>
            </div>
                <div class="grid text-right">
                    <a href="#" class="nav-toggle" id="nav-toggle"><span class="nav-icon"></span></a>
                </div>
            </div>    
        </header>
        
        <nav>
            <div class="row row-center row-full-height nav-row">
                <div class="grid grid-50 grid-center hide-sm">
                    <!-- <img src="./img/logo-mono.svg" alt="ba21 web + media" class="main-logo" />
                    <p class="tagline">web + media</p> -->
                    <h3><strong>BA<sup>21</sup> web + media</strong> is a design and development firm located in Charlottesville, Virginia. </h3>
                    <ul class="social-links">
                        <li>
                            <a href="https://twitter.com/ba21" data-tooltip="@ba21 on twitter"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/ba21" data-tooltip="ba21 on github"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="grid grid-33 grid-center text-center nav-grid">
                    <ul class="nav-list">
                        <li><a href="./">Home</a></li>
                        <li><a href="./portfolio.html">Work</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>        
                </div>
            </div>
        </nav>